
[base]
## if missing, log messages go the screen else to the given file
logfile: ""

## One of DEBUG,INFO,WARNING (no quotes)
loglevel: DEBUG

## the shared folder on Google Drive (no quotes)
shared : MozillaKV
